.form {
    display: flex;
    gap: 40px;
}

.attribute {
    width: 100%;
}

.attributes {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.values {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.data {
    display: flex;
    gap: 40px;
}

