.navigation {
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    font-family: Futura, sans-serif;
    justify-content: center;
    font-size: 24px;
    color: white;
    padding-left: 40px;
    transition: all 0.3s ease;

}

.navigation__item {
    transition: all 0.3s ease;
    cursor: pointer;

}

.navigation__item:hover {
    font-size: 28px;
    transition: all 0.3s ease;
}

.navigation__content {
    width: 100%;
    color:white;

}



.visible {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease-in-out; /* Add transition property */
    transition-delay: 0.6s; /* Add transition delay */
}

.hidden {
    position: absolute;
    top: 0;
    left: -20px;
    opacity: 0;
    transition: all 0.6s ease-in-out; /* Add transition property */
}

@keyframes showOpacity {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        .visible {
            opacity: 1;
        }
    }
}

@keyframes hideOpacity {
    0% {
        opacity: 1;
    }

    50% {
        position: absolute;
    }

    100% {
        opacity: 0;
    }

}