


@font-face {
    font-family: Roboto;
    src: url('/public/fonts/Roboto-Regular.woff?v=1.0') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    src: url('/public/fonts/Roboto-Regular.woff2?v=1.0') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.navigation {
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    font-family: Futura, sans-serif;
    justify-content: center;
    font-size: 24px;
    color: white;
    padding-left: 40px;
    transition: all 0.3s ease;
    opacity: 0.5;
    text-transform: uppercase;
    font-weight: 500;
}

@media (max-width: 1000px) {
    .navigation {
        position: absolute !important;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8) !important;
        padding-left: 0;
        transition: none;
        animation: unset;
        gap: 20px;
        align-items: center;
        justify-content: center;
        z-index: 199;
    }

    .navigation__item {
        font-size: 18px !important;
        letter-spacing: 0.1px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 5px 5px 5px 2px;
        color: #ffffff !important;
    }


    .navigation__item:hover {
        text-decoration: none;
    }

    .visible {
        opacity: 1;
        z-index: 100;
        transition-delay: unset;
        transition: unset;
        animation: unset;

    }

    .hidden {
        opacity: 0;
        z-index: -100;
        transition-delay: unset;
        transition: unset;
        animation: unset !important;

    }

    .visible__navigation {
        opacity: 1;
        animation: unset !important;
        transition: .3s all ease;
    }

    .hidden__navigation {
        z-index: 0;
        opacity: 1;
        position: unset;
        animation: unset !important;
        transition: .3s all ease;

    }

    .hidden__navigation_content {
        transition: unset;
        animation: unset !important;
    }
    .visible__navigation_content {
        transition: unset;
        animation: unset !important;
    }


    .title {
        font-size: 36px !important;
    }

    .info__item {
        font-size: 16px;
    }

    .button {
        padding: 4px 10px !important;
        font-size: 14px !important;
    }

    .reviewInput {
        font-size: 14px !important;
    }
}

.title {
    font-family: Futura, sans-serif;

}

.close_icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
    padding: 10px;
    z-index: 200;
}

.arrow {
    display: none;
    z-index: 198;
}



@media (max-width: 500px) {
    .close_icon:nth-child(2) {
        left: 5px;
        width: 24px;
        margin-top: 0 !important;
    }

    .icons_container {
        z-index: 200;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255, 255, 255, 0) 100%);
    }

    .close_icon svg {
        font-size: 20px;
    }

;

    .close_icon:nth-child(1) {
    }

    .close_icon_cross {
        z-index: 198 !important;
        right: 5px;
    }

    .close_icon {
        top: 5px;
    }

    .arrow {
        position: absolute;
        top: 17px;
        right: 0;
        transform: translateX(100%);
        display: block;
        padding: 2px 2px 1px;
        color: black;
        background-color: white;
        border-radius: 0 20px 20px 0;
    }

    .arrow svg {
        font-size: 14px;
    }

    .navigation {
        width: 100vw;
    }

    .reviewInput {
        width: 65% !important;
        border: 1px solid rgba(255, 255, 255, 0.2) !important;
        background-color: rgba(255, 255, 255, 0.2) !important;
        padding: 6px 8px 6px 13px !important;

    }

;
}

.navigation__item {
    transition: all 0.3s ease;
    cursor: pointer;
}

.navigation__item:hover {
    color: white;
    transform: scale(110%);
    transition: all 0.3s ease;
}

.navigation__item:visited {
    color: white;
}

.navigation__content {
    width: 100%;
    height: 100%;
    color:white;


}

.content__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .3s ease;
    font-family: Futura, sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.visible {
    opacity: 1;
    transform: translateX(0px);
    transition: all .6s ease; /* Add transition property */
    transition-delay: 0.6s; /* Add transition delay */
    z-index: 100;
}

.hidden {
    transform: translateX(-20px);
    opacity: 0;
    transition: all .6s ease !important; /* Add transition property */
    z-index: -100;
}

.reviewInput {
    min-width: 150px;
    width: 100%;
    color: white;
    max-width: 500px;
    padding: 8px 10px 8px 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 18px;
    transition: all .3s ease;
    font-family: Roboto, sans-serif;
}

textarea {
    border-radius: 10px !important;
}


.reviewInput::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.reviewInput:focus {
    border: 1px solid rgba(255, 255, 255, 1);
    outline: none;

}

.info__content {
    font-family: Futura, sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    animation: all .3 ease-in;
    padding: 50px;
    box-sizing: border-box;
}

.animals__content {
    padding: 50px;
}

@media (max-width: 1280px) {
    .animals__content {
        padding: 30px;
    }
    .info__content {
        padding: 30px;
    }
    .navigation {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .animals__content {
        padding: 52px 30px 50px;
    }
    .info__content {
        padding: 52px 30px 50px;
    }
}

.animals__images {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.animals__image {
    max-width: 220px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 18px;
    transition: all 1s ease;
    cursor: pointer;
}

.animals__image_content {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    opacity: 1;
    width: 100%;
    height: 100%;
    animation: content 1s ease;
}

@keyframes content {
    0% {
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        opacity: 0;

    }
    31% {
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        opacity: 0;
    }
    32% {
        height: 100%;
    }
}

.animals__image_content_hidden {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    opacity: 0;
    height: 0;
    transition: all .3s ease;
}



.animals__image:hover {
    transform: scale(1.05);
}



.animals__card {
    position: relative;
}

.expandedCard {
    overflow: hidden;
    max-width: 100%;
    align-self: flex-start;
    width: calc(54% + 40px) !important;
    height: 200%;
}

@media (max-width: 500px) {
    .expandedCard {
        width: 100% !important;
    }
}

.expandedCard img {
    width: 100%;
    height: auto;
}


.expandedCard:hover {
    transform: scale(1);
}

.animals__image img {
    border-radius: 10px;
}


.info__item.visible:nth-child(2) {
    transition-delay: .7s;
}



.info__animals {
    display: flex;
    gap: 20px;
}

.info__animal {
    width: 200px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    filter: saturate(0%);
    transition: all .3s ease;
}

.info__animal:hover {
    transition: all .3s ease;
    filter: saturate(100%);
}

.button {
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    padding: 8px 20px;
    background: white;
    border-radius: 100px;
    color: black;
    font-size: 18px;
    font-family: Futura, sans-serif;
    text-decoration: unset;

}

.button:hover {
    transition: all 0.3s ease;

    background: transparent;
    border: 1px solid white;
    color: white;
    transform: scale(1.05);

}

.buttonSelected {
    background: transparent;
    border: 1px solid white;
    color: white;

}

.visible__navigation {
    opacity: 1;
    animation: visibleNavigation 1.5s ease;
    position: unset;
}

.hidden__navigation {
    opacity: 0;
    position: absolute;
    animation: hiddenNavigation 1.5s ease-in;
}

.hidden__navigation_content {
    transition: all .3s ease-in;
    animation: hiddenNavigationForContent 1.5s ease;
}
.visible__navigation_content {
    transition: all .3s ease-in;
    animation: visibleNavigationForContent 1.5s ease;
}

@keyframes visibleNavigation {
    0% {

        opacity: 0;

        position: absolute;
    }

    20% {
        transform: translateX(-20px);
        opacity: 0;
        position: absolute;
    }
    21% {
        position: unset;
        opacity: 0;

    }
    40% {
        transform: translateX(0px);

    }

    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hiddenNavigation {
    0% {
        position: unset;
        opacity: 1;
        transform: translateX(0);
    }
    19.998% {
        opacity: 0;
    }
    19.999% {
        opacity: 1;
    }

    20% {
        transform: translateX(-20px);
        opacity: 0;
        position: absolute;
    }
    21% {
        transform: translateX(-200px);

    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes hiddenNavigationForContent {
    0% {
        transition: all .3s ease-in;
    }


    10% {
        opacity: 0;
        position: unset;
    }
    20% {
        opacity: 0;
    }
    40% {
        opacity: 1;

    }
    100% {
    }
}

@keyframes visibleNavigationForContent {
    0% {
        transition: all .3s ease-in;
    }

    22% {
        opacity: 0;
        position: absolute;
        padding: 0;

    }

    50% {
        opacity: 1;
    }
    60% {
    }
    100% {
    }
}

.accordion::before {
    background-color: transparent !important;
}

.slider_arrow:hover {
    border-radius: 50%;
    transition: .3s all ease;
    background-color: rgba(255, 255, 255, 0.3);
}