body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  font-family: 'Vazir', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.root {
  font-family: 'Vazi', sans-serif;

}

@font-face {
  font-family: Roboto;
  src: url('/public/fonts/Roboto-Regular.woff?v=1.0') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url('/public/fonts/Roboto-Regular.woff2?v=1.0') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Futura;
  src: url('/public/fonts/FUTURA65MEDIUM.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Futura;
  src: url('/public/fonts/FUTURA65MEDIUM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: FuturaRegular;
  src: url('/public/fonts/FUTURA55REGULAR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: FuturaBold;
  src: url('/public/fonts/FUTURA75BOLD.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: AppleChancery;
  src: url('/public/fonts/AppleChancery.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




