body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  font-family: 'Vazir', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.root {
  font-family: 'Roboto',sans-serif;
}
